@page "{id}"
@model diamond_shop_management.Pages.DiamondAccessoryManagement.DeleteDiamondAccessoryModel
@{
    ViewData["Title"] = "Delete DiamondAccessory";
}

<section class="shop_section layout_padding">
    <div class="container">
        <h1 class="text-center">Delete Diamond Accessory</h1>
        <h3 class="text-center text-danger">Are you sure you want to delete this Diamond Accessory?</h3>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <form method="post" enctype="multipart/form-data">
                        @if (!string.IsNullOrEmpty(Model.Message))
                        {
                            <div class="alert alert-danger" id="message" role="alert">
                                @Model.Message
                            </div>
                        }
                        <div class="form-group">
                            <label asp-for="DiamondAccessory.DiamondDetails"></label>
                            <input asp-for="DiamondAccessory.DiamondDetails" class="form-control" readonly style="pointer-events: none" />
                            <span asp-validation-for="DiamondAccessory.DiamondDetails" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DiamondAccessory.AccessoryName"></label>
                            <input asp-for="DiamondAccessory.AccessoryName" class="form-control" readonly style="pointer-events: none" />
                            <span asp-validation-for="DiamondAccessory.AccessoryName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="DiamondAccessory.Id" />
                            <a asp-page="/DiamondAccessoryManagement/ViewDiamondAccessory" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-danger">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
