@page
@model diamond_shop_management.Pages.User.Profile

@{
    Layout = "Shared/_Layout";
    ViewBag.Title = "Profile";
}
<h1 class="text-center mt-5" style="margin-top: 70px">Profile</h1>
<div class="row d-flex justify-content-center align-items-center w-auto m-5 pt-3 pb-5">
    <div class="col-md-6">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="UpdateUserDto.Id" />
            <div class="form-group">
                <label asp-for="UpdateUserDto.UserName"></label>
                <input asp-for="UpdateUserDto.UserName" readonly="readonly" class="form-control" />
                <span asp-validation-for="UpdateUserDto.UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdateUserDto.FullName"></label>
                <input asp-for="UpdateUserDto.FullName" class="form-control" />
                <span asp-validation-for="UpdateUserDto.FullName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdateUserDto.Phone"></label>
                <input asp-for="UpdateUserDto.Phone" class="form-control" />
                <span asp-validation-for="UpdateUserDto.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateUserDto.Email"></label>
                <input asp-for="UpdateUserDto.Email" class="form-control" readonly="readonly" />
                <span asp-validation-for="UpdateUserDto.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role"></label>
                <input asp-for="Role" class="form-control" readonly="readonly"/>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-page="./ChangePassword" asp-route-username="@Model.UpdateUserDto.UserName" class="btn btn-primary">Change Password</a>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}