@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - diamond_shop_management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/diamond_shop_management.styles.css" asp-append-version="true" />
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <!-- font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid px-md-0">
        <header class="header_section pl-4">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    @if (HttpContextAccessor.HttpContext?.Request.Path == "/" || HttpContextAccessor.HttpContext?.Request.Path == "/Index")
                    {
                        <span>
                            VKTP Diamond Shop
                        </span>
                    }
                    else
                    {
                        <span class="text-dark">
                            VKTP Diamond Shop
                        </span>
                    }
                </a>
                <div class="" id="">
                    <div class="custom_menu-btn">
                        <button onclick="openNav()">
                            <span class="s-1"> </span>
                            <span class="s-2"> </span>
                            <span class="s-3"> </span>
                        </button>
                        <div id="myNav" class="overlay">
                            <div class="overlay-content">
                                <a asp-page="/Index">Home</a>
                                @if ((User.Identity?.IsAuthenticated ?? false) && User.IsInRole("Admin"))
                                {
                                    <a asp-page="/DiamondManagement/ViewDiamond">Diamond Management</a>
                                    <a asp-page="/Admin/Index">Account Management</a>
                                }
                                else if ((User.Identity?.IsAuthenticated ?? false) && User.IsInRole("Manager"))
                                {
                                    <a asp-page="/DiamondShop/BrowseDiamond">Shop</a>
                                    <a asp-page="/PromotionManagement/View">Promotion Management</a>
                                    <a asp-page="/DiamondManagement/ViewDiamond">Diamond Management</a>
                                    <a asp-page="/AccessoryManagement/ViewAccessory">Accessory</a>
                                    <a asp-page="/Orders/OrdersList">Manage Orders</a>
                                }
                                else
                                {
                                    <a asp-page="/DiamondShop/BrowseDiamond">Shop</a>
                                    <a asp-page="/AccessoryManagement/ViewAccessory">Accessory</a>
                                }
                                @if (!User.Identity?.IsAuthenticated ?? true)
                                {
                                    <a asp-page="/User/Login">Login</a>
                                    <a asp-page="/User/Register">Register</a>
                                }
                                else
                                {
                                    <a asp-page="/User/Profile" asp-route-id="@User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value">Profile</a>
                                    <a asp-page="/User/Logout">Logout</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- info section -->
    <section class="info_section layout_padding2">
        <div class="container">
            <div class="row info_form_social_row">
                <div class="col-md-8 col-lg-9">
                    <div class="info_form">
                        <form action="">
                            <input type="email" placeholder="Enter your email">
                            <button>
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">

                    <div class="social_box">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row info_main_row">
                <div class="col-md-6 col-lg-3">
                    <div class="info_links">
                        <h4>
                            Menu
                        </h4>
                        <div class="info_links_menu">
                            <a asp-area="" asp-page="Index">Home</a>
                            @* <a href="about.html">About</a> *@
                            <a asp-area="" asp-page="DiamondManagement/ViewDiamond">Shop</a>
                            <a asp-page="/AccessoryManagement/ViewAccessory">Accessory</a>
                            @* <a href="blog.html">Blog</a> *@
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="info_insta">
                        <h4>
                            Instagram
                        </h4>
                        <div class="insta_box">
                            <div class="img-box">
                                <img src="~/images/p1.png" alt="">
                            </div>
                            <p>
                                long established fact that a reader
                            </p>
                        </div>
                        <div class="insta_box">
                            <div class="img-box">
                                <img src="~/images/p2.png" alt="">
                            </div>
                            <p>
                                long established fact that a reader
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="info_detail">
                        <h4>
                            About Us
                        </h4>
                        <p class="mb-0">
                            when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4>
                        Contact Us
                    </h4>
                    <div class="info_contact">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Location
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Call +01 1234567890
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope"></i>
                            <span>
                                demo@gmail.com
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end info_section -->
    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a>
            </p>
        </div>
    </footer>
    <!-- footer section -->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>